<!doctype html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<title>MOTLEYMEOW. Hear the artists meow.</title> 
	<meta name="description" content="Hear the artists meow." />	    
	<meta name="keywords" content="themes, bootstrap, free, templates, bootstrap 3, freebie,">
	<meta property="og:title" content="">
	<link rel="stylesheet" type="text/css" href="indexPage/css/style.css">	
	<link href="indexPage/css/font-awesome.min.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="indexPage/js/script.js"></script
    <link href="css/tab.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
    
		
</head>

<body>
	<% if(typeof user != 'undefined' && user!=null) { %>
	<div id = "headerloggedin"> </div>
	<% } else { %>
	<div id = "headerloggedout"></div>
	<%}%> 
	
	
	
	<!-- === MAIN Background === -->
	
	
	<!-- === Slide 2 === -->
	<div class="slide story" id="slide-2" data-slide="2" style = "padding-top:90px;font-size:16px;">
		<div class="container">
			
			<div class="row subtitle-row">
				<div class="col-sm-8 col-sm-offset-2 font-thin"><span><b>Sir Tom Stoppard</b>, the British Playwright said that Theatre is a series of insurmountable obstacles on the road to imminent disaster. All of us working in this industry know how true that is. Everything that can go wrong, does go wrong. </span><br/><br/>
					<span> The idea behind MotleyMeow is to create a support structure where as a community we support each other and overcome all the obstacles. So, whether your production needs actors, or a consultant or even last minute backstage help, MotleyMeow is the place to find the purrfect person.</span>

				 </div>
			</div><!-- /row -->
			<div class="row content-row" style="padding-left:100px;padding-top:0px;">
				<div class="col-12 col-lg-2 col-sm-6 with-hover-text">
					<p><i class="icon icon-eye-open" style="font-size:80px;color:white;"></i></p>
					<h2 class="font-semibold">FEATURES</h2>
					<span class="hover-text" style="font-size:20px">MotleyMeow will be your trusted support through the entire process of your next production. From auditions, to consultation and planning, to training, to costume design, we will be there with you and help you find the right person for the job.</span>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-2 col-sm-6 with-hover-text">
					<p><i class="icon icon-pencil" style="font-size:80px;color:white;"></i></p>
					<h2 class="font-semibold">POST A REQUIREMENT</h2>
					<span class="hover-text" style="font-size:20px">Post a requirement for artists or request even for a help in your production. Get attention of other theatre practitioners who can help you.</span>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-2 col-sm-6 with-hover-text">
					<p><i class="icon icon-share" style="font-size:80px;color:white;"></i></p>
					<h2 class="font-semibold">POST AN EVENT</h2>
					<span class="hover-text" style="font-size:20px">Copy paste an event from FB and put it up here. Get your event focused attention. Make everyone aware if you are hosting a play or workshop or a reading.</span>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-2 col-sm-6 with-hover-text">
					<p><i class="icon icon-search" style="font-size:80px;color:white;"></i></p>
					<h2 class="font-semibold">BROWSE EVENTS</h2>
					<span class="hover-text" style="font-size:20px">Looking for workshops to attend? Search events that you are looking for. Find out various events running in your city. </span>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-2 col-sm-6 with-hover-text">
					<p><i class="icon icon-hand-up" style="font-size:80px;color:white;"></i></p>
					<h2 class="font-semibold">SUPPORT OTHERS</h2>
					<span class="hover-text" style="font-size:20px">This is our motto. Help other artists, connect with them and get yourself connected.Tell the community about your skills and talents.</span>
				</div><!-- /col12 -->
			</div><!-- /row -->

		</div><!-- /container -->
	</div><!-- /slide2 -->
	

	<!-- === Slide 6 / Contact === -->
	<div class="slide story" id="slide-8" data-slide="8" style = "padding-top:10px;">
		<div class="container">
			<div class="row subtitle-row">
				<div class="col-12 font-thin"><span>Each one us has experienced the magic of theatre and it has touched our lives in one way or another. This project is really all about giving back to this community and giving a platform to more people to experience this art form.</span>
					<br/>
					<span> Don't be a fraidycat and reach us for any kind of support at the details given below. Also do write into us if you wish to contribute to project and be part of the MotleyMeow team.</span>

				 </div>
				<br/><br/>
				<div class="col-12 font-light"><u><b>Meet the team</b></u></div>
				
			</div><!-- /row -->
			<div id="contact-row-4" class="row" style="padding-top:0px;">
				<div class="col-12 col-sm-3 with-hover-text" style="height:100%">
					<p><img src ="images/ShauryaSingh.jpg">
					<span class="hover-text font-thin ">co-founder Saarthak Productions. A playwright, actor, director. It was his idea to launch such a service for theatre fraternity.</img></span></p>
					<ul class="social-icons">
                            <li><a href="https://www.facebook.com/shaurya.singh.25?fref=ts" target="_blank"><ifooter class="fa fa-facebook"></ifooter></a></li>
                            <li><a href="http://in.linkedin.com/pub/shaurya-singh/30/a23/2b1/en" target="_blank"><ifooter class="fa fa-linkedin"></ifooter></a></li>
                    </ul>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-3 with-hover-text" style="height:100%">
					<p><img src ="images/DeevasGupta.jpg">
					<span class="hover-text font-thin ">co-founder Saarthak Productions. A poet, playwright, actor, director. He also works as an editor at HighOnPoems. He along with Shaurya has been a guiding force behing the launch of this site. </span></img></p>
					<ul class="social-icons">
                            <li><a href="https://www.facebook.com/dvasg?fref=ts" target="_blank"><ifooter class="fa fa-facebook"></ifooter></a></li>
                            <li><a href="http://in.linkedin.com/pub/deevas-gupta/21/998/b7a/en" target="_blank"><ifooter class="fa fa-linkedin"></ifooter></a></li>
                    </ul>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-3 with-hover-text" style="height:100%">
					<p><img src ="images/AnupamProfile.jpg">
					<span class="hover-text font-thin ">Coder @MotleyMeow, Anupam is an avid coder. Currently working for CISCO, he spent time off work to create MotleyMeow site.</img></span></p>
					<ul class="social-icons">
                            <li><a href="https://www.facebook.com/anupam.singh.18659041?fref=ts" target="_blank"><ifooter class="fa fa-facebook"></ifooter></a></li>
                            <li><a href="http://in.linkedin.com/pub/anupam-singh/20/3bb/7a8/en" target="_blank"><ifooter class="fa fa-linkedin"></ifooter></a></li>
                    </ul>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-3 with-hover-text" style="height:100%">
					<p><img src ="images/Animesh.jpg">
					<span class="hover-text font-thin ">Coder @MotleyMeow, Along with Anupam has been the driving force to the development of this website and to make the idea a reality.</span></img></p>
					<ul class="social-icons">
                            <li><a href="https://www.facebook.com/animesh.shrivastava.79?fref=ts" target="_blank"><ifooter class="fa fa-facebook"></ifooter></a></li>
                            <li><a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile" target="_blank"><ifooter class="fa fa-linkedin"></ifooter></a></li>
                    </ul>
				</div><!-- /col12 -->
				

			</div><!-- /row -->
		</div><!-- /container -->
	</div>	
	
	<!-- === Slide 6 / Contact === -->
	<div class="slide story" id="slide-5" data-slide="5">
		<div class="container">
			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-10 font-light">We are based out of Bengaluru, India. Please do contact us if you would like to set up on ground teams in various cities. 
				<p>We are based out of Bangalore. We have provided most of our our details below along with the hotline numbers which you can call anytime during the day to discuss any issue you faced or an urgent help on looking out for artists. 
				<p>If you face any issues with the site or would want more features on it, don't be a sourpuss and Just Hit the "Send us a meow" button located in the header of your home page (after you login). Give us your comments, feedback. We will get in touch with you as soon as we can!
			</div>
			<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
			<div id="contact-row-4" class="row" style="padding-top:0px;">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-2 with-hover-text">
					<p><i class="icon icon-phone" style="font-size:80px; text-decoration:none;color:white;"></i></p>
					<span class="hover-text ">9886244329, 9663405979</span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><i class="icon icon-envelope" style="font-size:80px;text-decoration:none;color:white;"></i></p>
					<span class="hover-text ">MotleyMeow@gmail.com</span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><i class="icon icon-home"style="font-size:80px;text-decoration:none;color:white;"></i></p>
					<span class="hover-text ">Bangalore, India</span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="https://www.facebook.com/groups/328653777276568"><i class="icon icon-facebook" style="font-size:80px;text-decoration:none;color:white;"></i></a></p>
					<span class="hover-text "><a href="https://www.facebook.com/groups/328653777276568" target="_blank">THEATRE SCENE</a></span></a>
				</div><!-- /col12 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div>	
   <!-- footer starts-->
   <div id = "footer"></div>
   <!-- footer ends-->


</body>

	
	<!-- fancybox init -->
	<script>
	$(document).ready(function(e) {
		<% if (typeof hashValue != 'undefined' && hashValue != "") { %>
			document.location.hash = "<%=hashValue%>";
	
		<% } %>

	});
		$("#footer").load("footer.ejs"); 
		$("#headerloggedin").load("/header");
		$("#headerloggedout").load("indexHeaderPage.ejs");


	</script>

</html>