<!doctype html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<title>MOTLEYMEOW. Hear the artists meow.</title> 
	<meta name="description" content="Hear the artists meow." />	    
	<meta name="keywords" content="themes, bootstrap, free, templates, bootstrap 3, freebie,">
	<meta property="og:title" content="">
	<link rel="stylesheet" type="text/css" href="indexPage/css/style.css">	
	<link href="indexPage/css/font-awesome.min.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="indexPage/js/script.js"></script
    <link href="css/tab.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
    
		
</head>

<body>
	<% if(typeof user != 'undefined' && user!=null) { %>
	<div id = "headerloggedin"> </div>
	<% } else { %>
	<div id = "headerloggedout"></div>
	<%}%> 
	
	
	
	<!-- === MAIN Background === -->
	
	
	<!-- === Slide 2 === -->
	<div class="slide story" id="slide-2" data-slide="2" style = "padding-top:90px;">
		<div class="container">
			
			<div class="row subtitle-row">
				<div class="col-12 font-thin">MotleyMeow <span class="font-semibold">intends to serve the theatre community</span></div>
			</div><!-- /row -->
			<div class="row content-row" style="padding-left:100px;padding-top:0px;">
				<div class="col-12 col-lg-2 col-sm-6 with-hover-text">
					<p><i class="icon icon-eye-open" style="font-size:80px;color:white;"></i></p>
					<h2 class="font-semibold">Explore the Fraternity</h2>
					<span class="hover-text font-thin ">Explore artists for your next production. Be it actors, light designers, set designers, costume designers...any theatre practitioner</span>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-2 col-sm-6 with-hover-text">
					<p><i class="icon icon-pencil" style="font-size:80px;color:white;"></i></p>
					<h2 class="font-semibold">Post a need </h2>
					<span class="hover-text font-thin">Post a requirement for artists or request even for a help in your production. Get attention of other theatre practitioners who can help you.</span>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-2 col-sm-6 with-hover-text">
					<p><i class="icon icon-share" style="font-size:80px;color:white;"></i></p>
					<h2 class="font-semibold">Post an event></h2>
					<span class="hover-text font-thin">Copy paste an event from FB and put it up here. Get your event focused attention. Make everyone aware if you are hosting a play or workshop or a reading.. </span>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-2 col-sm-6 with-hover-text">
					<p><i class="icon icon-search" style="font-size:80px;color:white;"></i></p>
					<h2 class="font-semibold">Browse events</h2>
					<span class="hover-text font-thin">Looking for workshops to attend? Search events that you are looking for. Find out various events running in your city. </span>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-2 col-sm-6 with-hover-text">
					<p><i class="icon icon-hand-up" style="font-size:80px;color:white;"></i></p>
					<h2 class="font-semibold">Help others</h2>
					<span class="hover-text font-thin">This is our motto. Help other artists, connect with them and get yourself connected</span>
				</div><!-- /col12 -->
			</div><!-- /row -->

		</div><!-- /container -->
	</div><!-- /slide2 -->
	

	<!-- === Slide 6 / Contact === -->
	<div class="slide story" id="slide-8" data-slide="8" style = "padding-top:10px;">
		<div class="container">
			<div class="row subtitle-row">
				
				<div class="col-12 col-sm-10 font-light">Meet the team</div>
				
			</div><!-- /row -->
			<div id="contact-row-4" class="row" style="padding-top:0px;">
				<div class="col-12 col-sm-3 with-hover-text" style="height:100%">
					<p><img src ="images/ShauryaSingh.jpg">
					<span class="hover-text font-thin ">co-founder Saarthak Productions. A playwright, actor, director. It was his idea to launch such a service for theatre fraternity. Feel free to reach him at the details below.</img></span></p>
					<ul class="social-icons">
                            <li><a href="https://www.facebook.com/shaurya.singh.25?fref=ts" target="_blank"><ifooter class="fa fa-facebook"></ifooter></a></li>
                            <li><a href="http://in.linkedin.com/pub/shaurya-singh/30/a23/2b1/en" target="_blank"><ifooter class="fa fa-linkedin"></ifooter></a></li>
                    </ul>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-3 with-hover-text" style="height:100%">
					<p><img src ="images/DeevasGupta.jpg">
					<span class="hover-text font-thin ">co-founder Saarthak Productions. A poet, playwright, actor, director. He also works as an editor at HighOnPoems. He along with Shaurya has been a guiding force behing the launch of this site. Feel free to reach him at the details below.</span></img></p>
					<ul class="social-icons">
                            <li><a href="https://www.facebook.com/dvasg?fref=ts" target="_blank"><ifooter class="fa fa-facebook"></ifooter></a></li>
                            <li><a href="http://in.linkedin.com/pub/deevas-gupta/21/998/b7a/en" target="_blank"><ifooter class="fa fa-linkedin"></ifooter></a></li>
                    </ul>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-3 with-hover-text" style="height:100%">
					<p><img src ="images/AnupamProfile.jpg">
					<span class="hover-text font-thin ">Coder @MotleyMeow, Anupam is an avid coder. Currently working for CISCO, he spent time off work to create MotleyMeow site. Feel free to reach him at the details below.</img></span></p>
					<ul class="social-icons">
                            <li><a href="https://www.facebook.com/anupam.singh.18659041?fref=ts" target="_blank"><ifooter class="fa fa-facebook"></ifooter></a></li>
                            <li><a href="http://in.linkedin.com/pub/anupam-singh/20/3bb/7a8/en" target="_blank"><ifooter class="fa fa-linkedin"></ifooter></a></li>
                    </ul>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-3 with-hover-text" style="height:100%">
					<p><img src ="images/Animesh.jpg">
					<span class="hover-text font-thin ">Coder @MotleyMeow, Along with Anupam has contributed to the development of this website. Feel free to reach him at the details below.</span></img></p>
					<ul class="social-icons">
                            <li><a href="https://www.facebook.com/animesh.shrivastava.79?fref=ts" target="_blank"><ifooter class="fa fa-facebook"></ifooter></a></li>
                            <li><a href="https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile" target="_blank"><ifooter class="fa fa-linkedin"></ifooter></a></li>
                    </ul>
				</div><!-- /col12 -->
				

			</div><!-- /row -->
		</div><!-- /container -->
	</div>	
	
	<!-- === Slide 6 / Contact === -->
	<div class="slide story" id="slide-5" data-slide="5">
		<div class="container">
			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-10 font-light">We are based out of Bangalore. We have provided most of our our details below along with the hotline numbers which you can call anytime during the day to discuss any issue you faced or an urgent help on looking out for artists. <br>Hit the feedback button located below in your home page(after you login). Give us your valuable comments, feedback. Let us know what more you would like us to do. We will get in touch with you on the progress. </div>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
			<div id="contact-row-4" class="row" style="padding-top:0px;">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-2 with-hover-text">
					<p><i class="icon icon-phone" style="font-size:80px; text-decoration:none;color:white;"></i></p>
					<span class="hover-text ">9886244329, 9663405979</span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><i class="icon icon-envelope" style="font-size:80px;text-decoration:none;color:white;"></i></p>
					<span class="hover-text ">MotleyMeow@gmail.com</span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><i class="icon icon-home"style="font-size:80px;text-decoration:none;color:white;"></i></p>
					<span class="hover-text ">Bangalore, India</span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="https://www.facebook.com/groups/328653777276568"><i class="icon icon-facebook" style="font-size:80px;text-decoration:none;color:white;"></i></a></p>
					<span class="hover-text "><a href="https://www.facebook.com/groups/328653777276568" target="_blank">THEATRE SCENE BANGALORE</a></span></a>
				</div><!-- /col12 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div>	
   <!-- footer starts-->
   <div id = "footer"></div>
   <!-- footer ends-->


</body>

	
	<!-- fancybox init -->
	<script>
	$(document).ready(function(e) {
		<% if (typeof hashValue != 'undefined' && hashValue != "") { %>
			document.location.hash = "<%=hashValue%>";
	
		<% } %>

	});
		$("#footer").load("footer.ejs"); 
		$("#headerloggedin").load("/header");
		$("#headerloggedout").load("indexHeaderPage.ejs");


	</script>

</html>