<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>ADD NEW PRODUCTION HOUSE</title>
      
  <link href="css/bootstrap.min.css" rel="stylesheet">
   
     <link href="css/dropdowns-enhancement.css" rel="stylesheet">
 
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
       <script src="js/bootstrap.min.js"></script>
 
       <script src="js/dropdowns-enhancement.js"></script>
  
      <script src="js/jquery.searcher.min.js"></script>

       <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
   <link href="css/style.css" rel="stylesheet">       
     <link href="css/tab.css" rel="stylesheet">
     <link rel="stylesheet" href="css/font-awesome.min.css">
  
</head>
  
<body>


 <div id = "headerloggedin"> </div>
 

 <div id = "headerloggedout"/>
 <% if (typeof infomessage != 'undefined' && infomessage != "") { %>
      <script type="text/javascript">
          
      </script>
  <!-- <h4 style="text-align:center"><strong> <%=infomessage%> </strong></h4> -->
        
      <div class="modal fade col-lg-12" id="successprofile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="open-ViewDialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">

              <h4 class="modal-title" id="myModalLabel">Production House Added Successfully</h4>
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
              
            </div>
          </div>
        </div>
      </div>
<%}%>


<form id = "profileUpdateForm" class="form-vertical" role="form" enctype="multipart/form-data" action="/addProductionHouse" method="post">
<fieldset>
<div class = "container">
<div class="table-responsive">   

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>PLEASE FILL IN THE FOLLOWING INFORMATION :   </th>
        <th> &nbsp<p class= 'glyphicon glyphicon-pencil'></p></th>
      </tr>
    </thead>
 <tbody>
      <tr>
        <td>NAME OF THE PRODUCTION HOUSE:</td>
        <td>

                                         <input type="text" class="form-control" name="myname" id="myname" placeholder="Production House's Name" 
                                            value = "" ></b>
                                        


        </td>
      </tr>
<tr>
  <td>Established In :
  </td>
  <td>

                           
                          <p>   <input type="text" class="form-control" name="est" id="est" placeholder="Established In?" 
                                            value = "" ></p>
                            

  </td></tr>

<tr>
  <td>Upload your Display picture:
  </td>
  <td> <span class="btn btn-success fileinput-button col-md-12">  
                                            <i class="glyphicon glyphicon-plus"></i>
                                           <span>Add the display image of your production house.</span>
                                          <input id = "imagePost" type="file" class = "imageUpdateField" name = "imagePost" multiple style="color: transparent;"/>  <input type="hidden" id="fileName" name = "fileName">
                                            </span> </td>
</tr>


<tr>
  <td>About us :
  </td>
  <td>
                          <p>   <input type="text" class="form-control" name="myself" id="myself" placeholder="About us" 
                                            value = "" ></p>
                            
  </td>
</tr>

<tr>
  <td>CONTACT NUMBER :</td>
  <td>            <p>   <input type="text" class="form-control" name="contact" id="contact" placeholder="contact number?" 
                                            value = "" ></p>
                            
                          </td>
                        </tr>

<tr>
  <td>CITY</td>
  <td> 

                          <p>   <input type="text" class="form-control" name="city" id="city" placeholder="City?" 
                                       ></p>
                            
</td>
                                      </tr>


                                      <tr>
                                        <td>OWNER's NAME:</td>
                                          <td>
                      
                          <p>   <input type="text" class="form-control" name="ownername" id="ownername" placeholder="Owner's name?" 
                                      ></p>
                            

  </td></tr>



<tr>
  <td>MY JOURNEY</td>
  <td>
                          <p>   <input type="text" class="form-control" name="myjourney" id="myjourney" placeholder="My journey till now.." 
                                            value = "" ></p>
                            

  </td>
</tr>
<tr>
  <td>MY HOURS OF OPERATION</td>
  <td>                   <p>   <input type="text" class="form-control" name="myHoursOfOperation" id="myHoursOfOperation" placeholder="Will write it when i have a day off!!" 
                                            value ="" ></p>
                            
  </td>
</tr><tr>
  <td>MY ADDRESS</td>
  <td>                   <p>   <input type="text" class="form-control" name="myAddress" id="myAddress" placeholder="My address" 
                                            value = "" ></p>
                             



  </td>
</tr>







<tr>
  <td>MY FAMOUS PLAYS</td>
  <td>           
                            
                                      <div class="control-group col-md-12" id = "myPlays">
                                         

                                    
                                              <div class="panel panel-default controls col-md-9"> 
                                                
                                                  <div id = "playPlus" class="panel-body">
                                                      <div class="playEntry input-group col-md-12" id="plays0" style="padding-top:15px;">
                                                          <input class="col-md-12 playsText" id="playsText" name="playsText" type="text" placeholder="Name the play you were part of"/>
                                                          <div>&nbsp;</div>
                                                          <input class="col-md-12 playsLink" id="playsLink" name="playsLink" type="text" placeholder="Give any web link of it if you have it" onchange="insertURL(this)"/>
                                                          <input class="col-md-12 playsGroup" id="playsGroup" name="playsGroup" type="text" placeholder="The theatre group's name"/>
                                                          
                                                <p>&nbsp</p>
                                                          <div class = "col-sm-12">
                                                           <select class="col-sm-7" id="playsProdYear" name="playsProdYear" placeholder="The year of production" style="max-height:20px;"></select>
                                                           </div> 
                                    <div><p>&nbsp</p>
                                                        <span class="col-md-12">
                                                              <button class="btn btn-success btn-addPlays col-md-12" type="button" style="font-size:12px;">
                                                                  <span class="glyphicon glyphicon-plus">Add more experiences</span>
                                                              </button>
                                                        </span>
</div>
                                                    </div>
                                                  </div>   
                                              <br>
                                              
                                              <input type="hidden" id="mypfolioPlays" name = "mypfolioPlays">
                                                    
                                 
                                </div>
                                  </div>
                              
                                              
                                                        


  </td>
</tr><tr>
  <td>MY PICTURES</td>
  <td>     <div id="myPics">
                
                  
                      
                        <p class="form-control-static" >
                      <span class="btn btn-success fileinput-button col-md-12">  
                                            <i class="glyphicon glyphicon-plus"></i>
                                           <span>Add the images of your production house.</span>
                                          <input id = "imageGalleryPost" type="file" class = "imageUpdateField" name = "imageGalleryPost" multiple style="color: transparent;"/> 
                                           <input type="hidden" id="fileName" name = "fileName">
                                            </span>
                   
  </td>
</tr>




</tbody>
  </table>



  


  









<p style="text-align:center;" class="antiguaFont">Please ensure you have read and will abide by our <b>"Terms of use"</b> located in the footer
              <p style="text-align:center;"><button id = "submit" type="submit" class="btn btn-primary" type="button" name="btnvalue" value="submit"><i class="glyphicon glyphicon-ok-circle">SUBMIT</i>
              </button></fieldset>
            </form>
</div>
</div>
                            <div id = "footer" class ="oratorFont">
         <div class="container col-md-12 pull-right" >
            <div class="bottom-footer">
                  <ul class="footer-nav" style="font-size:16px;text-align:right">
                    <li><a href="/aboutus">About Us |</a></li>
                    <li><a href="/faq">FAQs |</a></li>
                    <li><a href="/supportUs">Support US |</a></li>
                    <li><a href="/credits">Thank You |</a></li>
                    <li><a href="/terms">Terms Of Use |</a></li>
                    <li><a href="/terms">Contact Us</a></li>
                  </ul>
            </div>
        
            


            <div class="row cp-copyright" style="text-align:right;">
                <div class="col-sm-12 col-xs-12">
                    <small>&copy; 2015 <br class="hidden-sm hidden-md hidden-lg" /> All Rights Reserved. | <a href="/privacy">Privacy Policy</a></small>
                </div>
            </div>
          </div> 
        </div>

</div>




    
    <script src="js/jquery.js"></script>
    <script src="js/jquery-validate.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/multiple-modals.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
     <script type="text/javascript">
      var imageIndex = 0;
      var vidIndex = 0;
      var playIndex = 0;
      var flickIndex = 0;
      var portfolioImages =new Array();
      var portfolioSocialPres = new Array();
     

     
      
      sendEvent = function(sel, step) {
          $(sel).trigger('next.m.' + step);
      }


      $('#profileUpdateForm').submit(function( event ) {

        var portfolioPlays =new Array();


        $('#playPlus').children('div').each(function () {

            var playName = $(this).find('#playsText').val();
            var playGroupName = "";
            var playProdyearVal = "";
      
            if(playName != 'undefined' && playName != "") {
              if( $(this).find('#playsGroup').val() != "") {
                playGroupName = $(this).find('#playsGroup').val();
              } 

              if($(this).find('#playsProdYear').val() != "" && $(this).find('#playsProdYear').val() != null) {
                playProdyearVal = $(this).find('#playsProdYear').val();
              }
             
              portfolioPlays.push({
                    "playName": playName,
                    "playURL": $(this).find('#playsLink').val(),
                   
                    "playGroup" : playGroupName,
                    "playProdYear" : playProdyearVal

              }); 
            }  
        });
        if(portfolioPlays.length > 0 ) {
          $('#mypfolioPlays').val(JSON.stringify(portfolioPlays));
        }





      });
      $('#deleteForm').validate({
            rules: {
                deletedFeedback: {
                    required: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('success').addClass('error');
            },
            success: function (element) {
                $(element).closest('.form-group').removeClass('error').addClass('success');
            }
        });

      

      submitForDelete = function() {
          $('#deleteForm').submit();
      }

     $(window).ready(function(){
            var max = new Date().getFullYear(),
            min = max - 30,
            select = document.getElementById('playsProdYear');
            $("input").focus(function(){
    $(this).css("background-color", "#cccccc");
});
            $("input").blur(function(){
    $(this).css("background-color", "#ffffff");
});
            for (var i = min; i<=max; i++) {
                var opt = document.createElement('option');
                opt.value = i;
                opt.innerHTML = i;
                select.appendChild(opt);
            }
            $('#playsProdYear').prepend($('<option/>', { 
              value: "",
              text : "Select Year",
              selected : true
          }));
          $('#successprofile').modal('show');
         
               


     });


    $("#headerloggedin").load("/header");
    
    $("#footer").load("footer.ejs"); 
    
     $(function() {
   
      
  //for adding plays and removing them 

        $(document).on('click', '.btn-addPlays', function(e) {
            e.preventDefault();
             
            var controlForm = $('.controls #playPlus:first'),
                currentEntry = $(this).parents('.playEntry:first'),
                newEntry = $(currentEntry).clone().appendTo(controlForm);
            $(newEntry).attr('id', 'plays' + playIndex);
            newEntry.find('input').val('');
            newEntry.find('select').val("");
            controlForm.find('.playEntry:not(:last) .btn-addPlays')
                .removeClass('btn-addPlays').addClass('btn-removePlays')
                .removeClass('btn-success').addClass('btn-danger')
                .html('<span class="glyphicon glyphicon-minus"></span>');
            playIndex++;    
            
        }).on('click', '.btn-removePlays', function(e) {
        
          $(this).parents('.playEntry:first').remove();
          e.preventDefault();
          return false;
        });

    });
















    </script>

  </body>
</html>