<!DOCTYPE html>
<html>
  <head>
   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
       <link href="css/style.css" rel="stylesheet">       
        <link href="css/tab.css" rel="stylesheet">
        <link rel="stylesheet" href="css/font-awesome.min.css">

       
    </head>

  

<body>
     

 <% if(typeof user != 'undefined' && user!=null) { %>
 <div id = "headerloggedin"> </div>
 <% } else { %>
 <div id = "headerloggedout"></div>
  <%}%> 
  
<div class="jumbotron">
   <h2 class="black-heading" style="text-align:center"><u>Coming soon</u></h2>
    <h3 style="text-align:center">There is always something to improve</h3>
    <div class = "artistsCheck">
      <div class = "authmessage" style="text-align:left;">
        
        <p>
          <ul>
            <li> Profile Section: so that you can update more about yourself, details about your contribution in theatre etc...</li>
            <li> UI changes</li>
            <li> Weekly newsletters on posts</li>
            <li> Post related mails to ones matching the criteria </li>
            <li> and many more... stay tuned! </li>
            
          </ul>  
        </p>    
        <p>We would be very glad to hear from you if you wish to see some features or improvements. Call us/email us or meow us.</p> 
      </div>  
    </div>  
    
  </div>  
</div>  


<div id = "footer"></div>

<script type="text/javascript">
     $("#footer").load("footer.ejs"); 
    $("#headerloggedin").load("/header");
    $("#headerloggedout").load("headerloggedout.ejs");
</script>
</body>
</html>