<!doctype html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<title>MOTLEYMEOW. Hear the artists meow.</title> 
	<meta name="description" content="Hear the artists meow." />	    
	<meta name="keywords" content="themes, bootstrap, free, templates, bootstrap 3, freebie,">
	<meta property="og:title" content="">
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href="css/tab.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">  
	
		
</head>

<body>
	<% if(typeof user != 'undefined' && user!=null) { %>
	<div id = "headerloggedin"> </div>
	<% } else { %>
	<div id = "headerloggedout"></div>
	<%}%> 
	
	

	<div class="main-container credits">
		<div>&nbsp;</div>
		<div>&nbsp;</div>
        <div class="container">
        	<h1 style="text-align:center; color:white;">THANK YOU </h1> 
        	<div class = "jumbotron" style="background-color:rgba(238, 238, 238, 0.6);">
                
				<h3 class="page-header text-center black-heading" style="border:0px;"><strong>Thanks to some wonderful people who have been helpful in making this project a reality.</strong></h3>
				<ol>
					<style>
					ol li {
						font-size:16px;
						color:black;
						text-align:center;
						list-style: none;
					}
					ol li a{
						color:black;
					}
					</style>
				    <li>
				        <a href="https://www.facebook.com/chethan03?fref=ts" target="_blank" style="color:inherit;"><strong>Chethan</strong></a>
				        <br/><br/>
				        <span>Chethan is currently doing his B.E. in Bangalore. He spent with us during the initial days of the website development and some of his contrubutions can be seen in the website. He had to leave in between because of college sessions but otherwise his contributions were immensely helpful. Thanks Chethan. </span>
				    </li>
				    <br/>
				    <li>
				        <a href="https://www.facebook.com/gamebag.in" target="_blank" style="color:inherit"><strong>Daanish and Amit from Gamebag.in</strong></a>
				        <br/><br/>
				        <span>Daanish and Amit helped us look at the overall idea from a different perspective. Their pointers on building a MVP and market research helped a lot. </span>
				    </li>
				    <br/>
				    <li>
				        <span>A big shout to all of the people here whose guidance and support in getting this website up was just priceless!! <b>
				       	<a href="https://www.facebook.com/aditya.fynst?fref=ts" target="_blank">Aditya</a>,  <a href = "https://www.facebook.com/salmin.sheriff"> Salmin</a>, <a href="https://www.facebook.com/veerendrashivhare?fref=ts" target="_blank">Veer</a>,  <a href="https://www.facebook.com/prasanna.k.srinivasan?fref=ts" target="_blank">Prasanna</a>,  <a href="https://www.facebook.com/sumeet.choudhury?fref=ts" target="_blank">Sumeet</a>, <!--,  <a href="https://www.facebook.com/Archana.Kathpalia?fref=ts" target="_blank">Archana</a></span>, -->  <a href="https://www.facebook.com/chandrashekar.murgendrappa?fref=ts" target="_blank">Chandru</a>,  <a href="https://www.facebook.com/kapil.yadav.374549?fref=ts" target="_blank">Kapil</a>,  <a href="https://www.facebook.com/vivek.awasthi.902" target="_blank">Vivek</a>,  <a href="https://www.facebook.com/praveen.raju.562" target="_blank">Praveen</a> & Sid</b>
				    </li>
				</ol>
				<h3 class="page-header text-center black-heading" style="border:0px;"><strong>Heartfelt respect and thank you to all of you!</strong></h3>
			</div>
		</div>	
	</div>

   <div id = "footer"></div>
   <!-- footer ends-->


</body>

	
	<!-- fancybox init -->
	<script>
	$(document).ready(function(e) {
		<% if (typeof hashValue != 'undefined' && hashValue != "") { %>
			document.location.hash = "<%=hashValue%>";
	
		<% } %>

	});
		$("#footer").load("footer.ejs"); 
		$("#headerloggedin").load("/header");
		$("#headerloggedout").load("headerloggedout.ejs");
	</script>

</html>