<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MotleyMeow, Hear the artists meow.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <link href="css/style.css" rel="stylesheet">       
    <link href="css/tab.css" rel="stylesheet">
</head>
<body>
		<% if(typeof user != 'undefined' && user!=null) { %>
		 <div id = "headerloggedin"> </div>
		 <% } else { %>
		 <div id = "headerloggedout"></div>
		  <%}%> 
<div class="container">

<div class="page-header">
    <h1>MotleyMeow FAQ <small><br>Some basic questions answered. For everything else contact us on email, this will help us make this section more exhaustive</small></h1>
</div>

<!-- Bootstrap FAQ - START -->
<div class="container">
   

    <div class="panel-group" id="accordion">
        <div class="faqHeader">General questions</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">How do I contact artists?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    In order to get contact information you will need an authorization from us. During the authorization process we make sure you are from theatre industry and working on a play. Once done you can come back to the page Contact Artists and retrieve email ids for only those artists who have agreed to share their email ids. Once done you can come back to the page <a href= "http://localhost:3000/contactArtists">Contact Artists </a> and retrieve email ids for only those artists who have agreed to share their email ids.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Is my email visible in the search result? If yes, how can i hide it</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    We don't make your email visible without your consent. You can choose to hide it by updating your profile. There is an option given whether to hide your email from search results or not. 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Is my Facebook profile link visible in the searches?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes, we have made it visible currently. Its as good as anyone viewing your profile from search in facebook. It allows other artists who are looking out for you contact you through Facebook. If however, we get multiple requests to make it consensual, we will do so. Please request the same through feedback on Home page.
                </div>
            </div>
        </div>
        

        
        
    </div>
</div>


   <!-- footer ends-->



<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
</style>

<!-- Bootstrap FAQ - END -->

</div>
 <!-- footer starts-->
<div id = "footer"></div>
<script type="text/javascript">


$("#footer").load("footer.ejs"); 
$("#headerloggedin").load("/header");
$("#headerloggedout").load("headerloggedout.ejs");
</script>

</body>
</html>