
<footer class="site-footer">
     <div class="container">
        <div class="bottom-footer">
              <ul class="footer-nav">
                <li><a href="/aboutus">What we are</a></li>
                <li><a href="/theTeam">Who we are</a></li>
                <li><a href="/whereweare">Where we are</a></li>
                <li><a href="/faq">FAQs</a></li>
                <li><a href="/supportUs">Support US</a></li>
                <li><a href="/credits">Credits</a></li>
              </ul>
        </div>
    
        <div class="cp-footer-links cpfl-social col-sm-12 text-center">
                    <ul class="list-inline">
                     
                        <li><a href="https://www.facebook.com/groups/328653777276568" target="_blank"><ifooter class="fa fa-facebook-square" style="width:14px; font-size:30px; padding-right:30px;"></ifooter><span class="hover-text"></span>Theatre Scene Bangalore</a></li>
                        <li><a target="_blank" href="#"><ifooter class="fa fa-phone-square" style="width:14px; font-size:30px;padding-right:30px;"></ifooter></a><span class="hover-text ">9886244329, 9663405979</span></li>
                        <li><a target="_blank" href="#"><ifooter class="fa fa-mail-reply" style="width:14px; font-size:30px;padding-right:30px;"></ifooter></a><span class="hover-text">MotleyMeow@gmail.com</span></a></li>
                    </ul>
        </div>



        <div class="row cp-copyright">
            <div class="col-sm-12 col-xs-12">
                <small>&copy; 2015 <br class="hidden-sm hidden-md hidden-lg" /> All Rights Reserved. | <a href="/privacy">Privacy Policy</a>
            </div>
        </div>
      </div> 
    </div>   
        
  
   </footer>
   <script src="js/private.js"></script>
   <link href="css/font-awesome.min.css" rel="stylesheet"> 
