
<footer class="site-footer">
     <div pull-right style="padding-right:20px;">
                 
                          <ul class="footer-nav" style="font-size:16px;text-align:right">
                            <li><a href="/aboutus">About Us |</a></li>
                            <li><a href="/faq">FAQs |</a></li>
                            <li><a href="/supportUs">Support US |</a></li>
                            <li><a href="/credits">Thank You |</a></li>
                            <li><a href="/terms">Terms Of Use |</a></li>
                            <li><a href="/terms">Contact Us</a></li>
                          </ul>

                    <div class="row cp-copyright" style="text-align:right;">
                        <div class="col-sm-12 col-xs-12">
                            <small>&copy; 2015 <br class="hidden-sm hidden-md hidden-lg" /> All Rights Reserved. | <a href="/privacy">Privacy Policy</a></small>
                        </div>
                    </div>

        </div>  
                
  
   </footer>
   <script src="js/private.js"></script>
   <link href="css/font-awesome.min.css" rel="stylesheet"> 
