
<!doctype html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <title>MOTLEYMEOW. Hear the artists meow.</title> 
    <meta name="description" content="Hear the artists meow." />        
    <meta name="Keywords" content="Theatre, Artists, Motleymeow, Sponsor, Events, Bengaluru, Mumbai, Delhi, Chennai, Kolkata, Drama, Naatak" />
    <meta property="og:title" content="MOTLEYMEOW. Hear the artists meow."/>
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://www.motleymeow.com/images/siteLogo.jpg"/>
    <meta property="og:url" content="http://www.motleymeow.com" />
    <link rel="stylesheet" type="text/css" href="indexPage/css/bootstrap.min.css">
    <link rel="stylesheet" href="indexPage/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="indexPage/css/style.css">  
    
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    

 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    
      <!--[endif]-->
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
      
      


      <link rel="icon"  type = "image/png" href="static/images/favicon32.png" sizes="32x32"/>
      <link rel="icon"  type = "image/png" href="static/images/favicon48.png" sizes="48x48"/>
      <link rel="icon"  type = "image/png" href="static/images/favicon64.png" sizes="64x64"/>
      <link rel="apple-touch-icon"  type = "image/png" href="images/icons/apple-touch-icon.html" />

      <link rel="shortcut icon"  type = "image/png" href="static/images/favicon32.png" />

   
   <style type="text/css">
 .hrInline {
      display: inline-block;
      border: 0;
      margin: 0%;
      width: 33.2%;
      height: 1px;
      margin-bottom: 2px;
      background: #D8D8D8;
  }
  .hrtext {
      display: inline-block;
      margin: 0;
      text-align: center;
      width: 7%;
      font-size: 14px;
  }
  .EmailBtn {
  margin-bottom: 2%;
  margin-top: 2%;
  border: 1px solid #02A6D8;
  width: 70%;
  height: 40px;
  font-family: 'Open Sans';
  font-size: 17px;
  color: #02A6D8;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  line-height: 17px;
}
</style>

  
    
    
        
</head>

<body>
    
    
    <!-- === MAIN Background === -->
<div class="slide story" id="slide-1" data-slide="1" style = "min-height:100%; padding-top:0px;">
  <div class="container">

    <div id="home-row-2" class="row clearfix" style= "float:center;padding-top:100px;">


        <div class="col-12" class="row clearfix" style="float:center;height:90%;padding-top:0px;">
            <div>

         
                <!-- show any messages that come back with authentication -->

                    
                     
                <form class="form-signin" action="/forgot" method="post">
                    
        
                        <div style="margin-top:3px; "><font style="margin-top:3px; line-height:4;">Forgot password?</font></div>
                        <div ><p><font style="font-size:20px;"> Enter your email here. We will send you a link. </font></p></div>
  
        <% console.log("message.length = " + message.length) 
        if (message.length > 0) { %>
            <div class="alert alert-danger" style="font-size:16px;"><%= message %></div>
        <% } %>
        <% if (message.length == 0) { %>
            <div class="alert alert-danger" style="font-size:16px;"><br></div>
        <% } %>


        <!-- show any messages that come back with authentication -->
        <div class="col-md-8 with-hover-text">
            <div style="font-size:23px;">
                
              <input autofocus class="form-control emailTxt centerAlign" id="username" name="email" placeholder="email" type="email" value=""  required>        
            </div>   
        <div>
        <div style="font-size:23px;">
           <button  type="submit" class="btn  btn-lg EmailBtn centerAlign" id="login" style="background-color: #383838;">
           Submit

           </a>
        </div>
      <p style="font-size:12px;"> Please check your mail after clicking on submit</p>
    </div>
      <p style="font-size:14px; margin-left:55%;">Go to <a href="/">home</a></p>
  </div>   
                    
</div>
                            
                        
</div><!-- /row -->
           


    
</body>

    
    <script src="indexPage/js/html5shiv.js"></script>
    <script src="indexPage/js/jquery-1.10.2.min.js"></script>
    <script src="indexPage/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="indexPage/js/bootstrap.min.js"></script>
    <script src="indexPage/js/jquery.easing.1.3.js"></script>
    <script src="indexPage/js/script.js"></script>
    <script src="js/countUp.min.js"></script>
    <script src="js/jquery.textillate.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/jquery.lettering.js"></script>
    
    <script type="text/javascript">

    // var demo, code, data, stars;

    // create instance
    



    </script>

</html>