<head>
    <meta charset="utf8"></meta>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"></meta>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>
    
</head>
<nav class="navbar navbar-inverse navbar-static-top no-margin">
    <div class = "col-md-12">
      <div class="col-md-2" id="bs-project2-navbar-collapse-1">
          <ul class="nav nav-bar pull-left">
              <li><a class="navbar-brand" href="/home" style = "color: #FBF7F7; font-size: 15px;padding:0px;"><img src ="images/MotleyMeow-logo02.gif" style="max-width:60px;max-height:60px;"></a></li>
          </ul>
     </div>
     <div class="col-md-4 pull-right" style="margin-top:10px;margin-right:10px;color:#E6E0E0;">

      <button  type="button" style="font-size:20px;background-color: rgba(237, 16, 79, 0.28);border-radius: 2px;box-shadow: 0px 0px 3px 3px #888;" id = "signin">
        <b>Login or Signup</b>
        </button>
      
        <div id="login1" style= "float:center;padding-top:5px;display:none;position:relative;">
          <div class="form-signin" style="position:absolute;z-index:999;">
                     
          
              <div class="social-box">
                <div class="row mg-btm">
                      <div class = "col-md-12 form-group">
                        <a id="FBlogin" class="btn btn-primary form-control" href="/auth/facebook" style="text-align:center;">
                        <i class="icon-facebook"></i> &nbsp;&nbsp;Login with Facebook
                        </a>
                      </div> 
                      <div class = "form-group col-md-12">                        
                        <a href="/auth/google" class="btn btn-primary form-control" style="text-align:center;"> 
                        <i class="icon-google-plus"></i>&nbsp;&nbsp;Login with Google</a>
                      </div>  
                </div>
              </div>
              
              <div>
                <hr class="hrInline" align="left" >
                <span class="hrtext" >or </span> 
                <hr class="hrInline" align="right" >
                <div style="clear:both;"></div>
              </div>
              <div id="loginMessage" class="alert alert-danger" style="font-size:14px;display:none;"></div>
              
              <div>&nbsp;</div>
              <div class="col-md-12" >
                
                  <!-- LOGIN FORM -->
                  <div style="font-size:23px">
                    <input autofocus class="form-control emailTxt centerAlign" id="username" name="email" placeholder="email" type="email" value="" required>        
                  </div>
                  <div>&nbsp;</div>
                  <div style="font-size:23px">
                    <input class="form-control emailTxt centerAlign" id="password" name="password" placeholder="password" type="password" value="" required>
                  </div>
                  <div>
                    <div>
                      <button  type="submit" class="btn btn-warning" onclick="submitForLogin();">
             
                      Login with Email
                      </button>
                    </div>
                    <div> &nbsp;</div>
                    <p style="font-size:20px;">Need an account? <a href="/signup">Signup</a> 
                    <br/>
                    <a href="/forgot">Forgot Password?</a></p>
                  </div>
              </div>
                 
          </div>      
        </div>  

    </div>
      
  </div>  
        
</nav>

<script>
  $("#signin").click(function() {
          $('#login1').toggle();
  });



 function submitForLogin() {
        var formData = {
              email: $("#username").val(),
              password: $('#password').val()
        };
      $.ajax({
        url: "/landing",
        type: "POST",
        cache: false, 
        async: true,
        data: formData,
        complete: function() {
          console.log('process complete');
        },
        success: function(data) {
            if(data.error) {
            console.log('Opps, something bad happened');
            return;
            }
            if(data.message) {
              $('#loginMessage').show();
              $('#loginMessage').html(data.message);
            }  
            if(data.completed == "OK") {
                console.log("OK");
                window.location.href = data.redirect;

            } 
        },
        error: function() {
          console.log('process error');
        }
      });
  }

</script>

