
<nav class="navbar navbar-inverse navbar-static-top no-margin">
  <div class="container-fluid">
    

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-project2-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BuzzingArtists </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-project2-navbar-collapse-1">
            

             <ul class="nav nav-bar pull-right">
                        
                <li><a class="btn btn-primary navbar-btn" href="/auth/facebook">Join us</a></li>
              
            </ul>
              
      </div>
  </div>
</nav>