<nav class="navbar navbar-inverse navbar-static-top no-margin">
  <div class="container-fluid">
    

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-project2-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">BuzzingArtists </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-project2-navbar-collapse-1">
            
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/home">Home <span class="sr-only">(current)</span></a></li>
                   <li><a href="/profile">Update profile <span class="sr-only">(current)</span></a></li>
                   <li><a href="/postarequest">Post a request<span class="sr-only">(current)</span></a></li>
                   </li> 
                   <li ><a href="/searchPosts">Your posts<span class="sr-only">(current)</span></a></li>
                   <li><a href="/postevents">Post event from FB <span class="sr-only">(current)</span></a></li>
                   <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse</a>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="/artists">Browse Artists</a></li>
                          <li><a href="/viewallposts">Browse Posts</a></li> 
                          <li><a href="/allevents">Browse Events</a></li>            
                      </ul>           
                   </li>
                </ul>

            <ul class="nav navbar-right navbar-nav">                  
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img id="userPic" alt="" src="<%=user.local.picture%>" style="max-height:30px;padding-bottom:0px;" class="img-circle"/><i class="glyphicon glyphicon-chevron-down" style = "padding-left: 10px; color: #E9E1E1;"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="/profile">Profile</a></li>
                      <li><a href="/logout">Logout</a></li>
                      
                    </ul>
                  </li>
             </ul>  
             

              
      </div>
  </div>
</nav>
<link href="css/style.css" rel="stylesheet"> 
<script>
   
    
</script>
