<head>

    <meta charset="utf8"></meta>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"></meta>
    <title>

        jQuery Dropdown Login Freebie | The Finished Box

    </title>
    <link href="css/style.css" rel="stylesheet"></link>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>
    <script src="js/login.js"></script>

</head>
<nav class="navbar navbar-inverse navbar-static-top no-margin">

<div class="navbar-right">

  <button class="btn btn-primary btn-lg dropdown-toggle pull-right" type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sign in <span class="caret"></span><div style="color:blue;"></div>
  </button>

  
  <ul class="dropdown-menu">
   <form class="form-signin" action="/landing" method="post">
          <div style="font-size:23px">
            
        <input autofocus class="form-control emailTxt centerAlign" id="username" name="email" placeholder="email" type="email" value="" required>        
        </div>
        <div style="font-size:23px">
          <input class="form-control emailTxt centerAlign" id="password" name="password" placeholder="password" type="password" value="" required>
      </div>
    <div>
      <div >
         <button  type="submit" class="btn  btn-lg EmailBtn centerAlign" id="login" style="background-color: #383838;">
         
         Login with Email
         </a>
      </div>
      <div> &nbsp;</div>
      <p style="font-size:14px;">Need an account? <a href="/signup">Signup</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/forgot">Forgot Password?</a></p>
   </div>

    <div class="social-box" style="margin-left:1%; margin-top:-5%;">
                      <div class="row mg-btn">
                          <div class="col-md-8 with-hover-text">
                              <a id="FBlogin" class="btn btn-primary " href="/auth/facebook" style="margin-top:1%;">
                              <i class="icon-facebook"></i> &nbsp;&nbsp;Facebook
                            </a>
                                  <a href="/auth/google" class="btn btn-danger "> <i class="icon-google-plus"></i>&nbsp;&nbsp;Google</a>
                                 
                          </div>
                      </div>
                    
              </div>
   
        
    </form> 
  </ul>
        </div>

        <div class="collapse navbar-collapse" id="bs-project2-navbar-collapse-1">
            <ul class="nav nav-bar pull-left">
                        
                <li><a class="navbar-brand" href="/home" style = "color: #FBF7F7; font-size: 15px;"><img src ="images/MotleyMeow-logo02.gif" style="max-width:220px;max-height:220px;"></a></li>
              
            </ul>

             
            
              
      </div>
  </div>
  </div>
</nav>