<!doctype html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<title>BUZZING ARTISTS. Be a part of the buzz.</title> 
	<meta name="description" content="BlackTie.co - Free Handsome Bootstrap Themes" />	    
	<meta name="keywords" content="themes, bootstrap, free, templates, bootstrap 3, freebie,">
	<meta property="og:title" content="">

	<link rel="stylesheet" type="text/css" href="indexPage/css/bootstrap.min.css">
	<link rel="stylesheet" href="indexPage/css/font-awesome.min.css" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="indexPage/css/style.css">	
	
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	
	
	
		
</head>

<body>
	<div class="navbar navbar-fixed-top" data-activeslide="1">
		<div class="container">
		
			<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			
			<div class="nav-collapse collapse navbar-responsive-collapse">
				<ul class="nav row">
					<li data-slide="1" class="col-12 col-sm-2"><a id="menu-link-1" href="#slide-1" title="Next Section"><span class="icon icon-home"></span> <span class="text">HOME</span></a></li>
					<li data-slide="2" class="col-12 col-sm-2"><a id="menu-link-2" href="#slide-2" title="Next Section"><span class="icon icon-user"></span> <span class="text">WHAT WE ARE</span></a></li>
					<li data-slide="3" class="col-12 col-sm-2"><a id="menu-link-3" href="#slide-3" title="Next Section"><span class="icon icon-envelope"></span> <span class="text">WHO WE ARE</span></a></li>
					
				</ul>
				<div class="row">
					<div class="col-sm-2 active-menu"></div>
				</div>
			</div><!-- /.nav-collapse -->
		</div><!-- /.container -->
	</div><!-- /.navbar -->
	
	
	<!-- === Arrows === -->
	<div id="arrows">
		<div id="arrow-up"></div>
		<div id="arrow-down"></div>

	</div><!-- /.arrows -->
	
	
	<!-- === MAIN Background === -->
	<div class="slide story" id="slide-1" data-slide="1" style = "padding-bottom:10px;">
		<div class="container">
			<div id="home-row-1" class="row clearfix">
				<div class="col-12" style="float:center;">
					<h1 class="font-semibold">BUZZING ARTISTS
					<h4 class="font-thin">For the love of theatre 
						

				</div><!-- /col-12 -->
			</div><!-- /row -->
			<div id="home-row-2" class="row clearfix" style= "height:400px;float:center;">

				<div class="col-12" class="row clearfix" style="float:center;">
			  		<div>
			     		<form class="form-signin" action="" method="post">
				        	<h3 class="heading-desc">
				        		Login to BuzzingArtist through Facebook</h3>
				        	<div class="social-box">
				            	<div class="row mg-btm">
				               		<div class="col-md-8 with-hover-text">
				                  		<a id="FBlogin" class="btn btn-primary btn-block" href="/auth/facebook">
				                    	<i class="icon-facebook"></i> &nbsp;&nbsp; Login with Facebook
				                  		</a>
				              		</div>
				            	</div>
				            
				 			</div>
	            			<div class = "main">      
		                		Just a click above 
		                		<span class="clearfix"></span>  
            				</div>
        				</form>
      				</div>
    			</div>
    			
			</div><!-- /row -->
			
		</div><!-- /container -->
	</div><!-- /slide1 -->
	
	<!-- === Slide 2 === -->
	<div class="slide story" id="slide-2" data-slide="2" style = "padding-top:5px;">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-thin">Become a part of the expanding theatre fraternity</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				<div class="col-12 font-thin">This is what <span class="font-semibold">we are trying to achieve through this website</span></div>
			</div><!-- /row -->
			<div class="row content-row" style="padding-left:100px;">
				<div class="col-12 col-lg-2 col-sm-6">
					<p><i class="icon icon-eye-open"></i></p>
					<h2 class="font-semibold">Explore the Fraternity</span></h2>
					<h4 class="font-thin">Explore artists for your next production. Be it actors, light designers, set designers, costume designers...any theatre practitioner</h4>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-2 col-sm-6">
					<p><i class="icon icon-pencil"></i></p>
					<h2 class="font-semibold">Post a need </h2>
					<h4 class="font-thin">Post a requirement for artists or request even for a help in your production. Get attention of other theatre practitioners who can help you.</h4>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-2 col-sm-6">
					<p><i class="icon icon-share"></i></p>
					<h2 class="font-semibold">Post an event 
					<h4 class="font-thin">Copy paste an event from FB and put it up here. Get your event focused attention. Make everyone aware if you are hosting a play or workshop or a reading.. </h4>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-2 col-sm-6">
					<p><i class="icon icon-search"></i></p>
					<h2 class="font-semibold">Browse events</h2>
					<h4 class="font-thin">Looking for workshops to attend? Search events that you are looking for. Find out various events running in your city. </h4>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-2 col-sm-6">
					<p><i class="icon icon-hand-up"></i></p>
					<h2 class="font-semibold">Help others</h2>
					<h4 class="font-thin">This is our motto. Help other artists, connect with them and get yourself connected</h4>
				</div><!-- /col12 -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide2 -->
	

	
	<!-- === Slide 6 / Contact === -->
	<div class="slide story" id="slide-3" data-slide="3" style = "padding-top:10px;">
		<div class="container">
			<div class="row" style="font-size:20px">
				<div class="col-12 font-this">Necessity is the mother of invention. That is why we are here. A performance needs performers and in theatre there is an ever expanding need of performers. Performers on the stage or off the stage. <b>BuzzingArtists</b> is created with the sole intention of providing help to theatre fraternity by providing them the connection to artists that they are looking for. 
				<br><br>
				So, for example, you are looking for a light designer to design lights for your play but you don't have enough of an idea where to look out for. Head to <b>BuzzingArtists</b>, we are creating a database of every such artists around you, in your city or across the country. You will find such an artists and get in touch with them for your need.
				<br><br>  
				</div>
			</div><!-- /row -->

			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-10 font-light">Give us your valuable comments, feedback. Let us know what else we must do more. We will get in touch with you on the progress. We have also provided hotline numbers which you can call anytime 24/7 to discuss any issue you faced or an urgent help on looking out for artists</div>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
			<div id="contact-row-4" class="row" style="padding-top:0px;">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="icon icon-phone"></i></a></p>
					<span class="hover-text font-light ">9886244329, 9886688054</span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="icon icon-envelope"></i></a></p>
					<span class="hover-text font-light ">ani979@gmail.com, a007singh@gmail.com</span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="icon icon-home"></i></a></p>
					<span class="hover-text font-light ">Bangalore, India</span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="icon icon-facebook"></i></a></p>
					<span class="hover-text font-light "><a href="https://www.facebook.com/groups/328653777276568" target="_blank">THEATRE SCENE BANGALORE</a></span></a>
				</div><!-- /col12 -->
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div>	

	
</body>

	<!-- SCRIPTS -->
	<script src="indexPage/js/html5shiv.js"></script>
	<script src="indexPage/js/jquery-1.10.2.min.js"></script>
	<script src="indexPage/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="indexPage/js/bootstrap.min.js"></script>
	<script src="indexPage/js/jquery.easing.1.3.js"></script>
	<script src="indexPage/js/script.js"></script>
	
	<!-- fancybox init -->
	<script>
	$(document).ready(function(e) {
		var lis = $('.nav > li');
		menu_focus( lis[0], 1 );
		

	});
	</script>

</html>