
<nav class="navbar navbar-inverse navbar-fixed-top no-margin">
  <div class="container-fluid">
    

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-project2-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-project2-navbar-collapse-1">
            <ul class="nav nav-bar pull-left">
                        
                <li><a class="navbar-brand" href="/home" style = "color: #FBF7F7; font-size: 20px;"><img src ="images/MotleyMeow-logo02.gif" style="max-width:250px;max-height:250px;"></a></li>
              
            </ul>

             <ul class="nav nav-bar pull-right">
                        
                <li><a class="btn btn-default"  href="/auth/facebook">Login with facebook</a></li>
              
            </ul>
              
      </div>
  </div>
</nav>