<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Add New Blog Post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/style.css" rel="stylesheet">
    <link href="/blog/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap-tagsinput.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link href="/css/jquery.tagit.css" rel="stylesheet" type="text/css">

    <!-- Formatting toolbar script --> 
    <script src="http://tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="application/x-javascript">
      tinymce.init({
        selector:'#postBody'
        //save_onsavecallback: "savePostData"      
      });
    </script>
    <!-- Formatting toolbar ends here -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
  
  </head>

  <body>

    <% if(typeof user != 'undefined' && user!=null) { %>
      <div id = "headerloggedin"> </div>
      <% } else { %>
      <div id = "headerloggedout"></div>
    <%}%> 
    <!--<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>-->

    <div class="container">

      <h1>Blogging</h1>
      <p>What would you like to share?</p>

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>New Post</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="postTitle">Title </label>
  <div class="controls">
    <input id="postTitle" name="postTitle" type="text" placeholder="Enter a title for your post" class="input-xlarge" required="">
    
  </div>
</div>


<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="postBody">Body </label>
  <div class="controls">                     
    <textarea id="postBody" style="width: 350px; height: 300px;" name="postBody" rows="10" cols="100"></textarea>
  </div>
</div>

<!--Hideen field-->
<input type="hidden" id="hiddenbody" name="question_html" />
<!--<script>$('#hiddenbody').val(tinyMCE.get('#postbody').getContent());</script>-->

<!-- Multiple Checkboxes (inline) -->
<!--<div class="control-group">
  <label class="control-label" for="postCategories">Choose Categories</label>
  <div class="controls" id="postCategoriesSelector">
    <label class="checkbox inline" for="postCategories-0">
      <input type="checkbox" name="postCategories" id="postCategories-0" value="1">
      1
    </label>
    <label class="checkbox inline" for="postCategories-1">
      <input type="checkbox" name="postCategories" id="postCategories-1" value="2">
      2
    </label>
    <label class="checkbox inline" for="postCategories-2">
      <input type="checkbox" name="postCategories" id="postCategories-2" value="3">
      3
    </label>
    <label class="checkbox inline" for="postCategories-3">
      <input type="checkbox" name="postCategories" id="postCategories-3" value="4">
      4
    </label>
    <label class="checkbox inline" for="postCategories-4">
      <input type="checkbox" name="postCategories" id="postCategories-4" value="5">
      5
    </label>
  </div>
</div>

  <ul id="myTags"></ul> -->

<!-- Tags -->
  <div class="control-group">
  <label class="control-label" for="postCategories">Add Tags</label>

  <div class="controls" >
    <ul id="tagsForPost" style="margin-left:0px;"></ul>
  </div>

</div>

  <ul id="tagsForPost"></ul> <!--field for tags-->


<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="buttonPublish">Final things</label>
  <div class="controls">
    <button id="buttonPublish" name="buttonPublish" class="btn btn-success" type="button" value="submit" onclick="savePostData()">Publish Post</button>
    <button id="buttonCancel" name="buttonCancel" class="btn btn-danger">Cancel Post</button>
  </div>
</div>

</fieldset>
</form>


    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap-tagsinput.js"></script>
    <!-- The JQUERY UI is very much needed for tag and just after jquery UI.js we need to add tag it.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>

<script>
  $(document).ready(function() {
        $("#tagsForPost").tagit();
    });

  function savePostData(){

          console.log("This is executing");
          /*var ed = tinyMCE.get('content');
          console.log(ed);

          $('#postBody').bind('form-pre-serialize', function(e) {
           tinyMCE.triggerSave();
          });

          var ef = tinyMCE.get('#postBody');
          console.log(ef);*/
         // console.log($("#hiddenbody").val());

         tinyMCE.triggerSave(); //this gives the textarea the value from tinyMCE editor

          /*var checkBoxes = [];
          $.each($("input[name='postCategories']:checked"), function(){
            checkBoxes.push($(this).val());
          });*/

          var data = {
            postTitle: $("#postTitle").val(),
            postBody: $("#postBody").val(),
            postTags: $("#tagsForPost li").map(function() { if($(this).children('.tagit-hidden-field').val() != "") { return $(this).children('.tagit-hidden-field').val() } }).get()
          };

          //console.log(checkBoxes);
          console.log(data);

          $.ajax({ 
           url: "/saveNewBlogPostData",
           type: "POST",
           cache: false, 
           async: true,
           data: data,

           success: function(data){
              console.log('Success!');
              
              if(data.completed == "OK") {
                console.log("OK");
                window.location.href = data.redirect;
                
              } else {
                console.log("NOK");
                //generateNotificationLayout('error', 'topCenter', 'Some problem with your post. Check fields again');
              }
           }, 

           error: function(jqXHR, textStatus, err){
               console.log('text status '+textStatus+', err '+err);
               //generateNotificationLayout('error', 'topCenter', 'Some problem with your email. Check fields again');
           }
        }); //end of ajax function 
  } //end of savePostData function
</script>

</body>
  
  <script>
    $("#headerloggedin").load("/header");
    $("#headerloggedout").load("headerloggedout.ejs");
  </script>

</html>