<h2><a href = "/artists">Recent artists joined all locations (Browse them all)</a></h2>
    <table id="artistsTable" class="table table-striped">
      <thead>
          <tr>
              <th class ="namecol" style="text-align:left">Name</th>
              <th class ="contribcol" style="text-align:left">Contribution in Theatre</th>
              <th class ="citycol" style="text-align:left">City</th>
              <th class ="fbprofilecol" style="text-align:left">FB profile</th>
          </tr>
      </thead>
      <tbody class="searchable">
        
                <% if (typeof users != 'undefined') { 
                  for(var i=0; i < users.length; i++) { %>
                    <tr>
                    <td><%= users[i].facebook.name%></td>
                      <% if(typeof users[i].local.role == 'undefined' || users[i].local.role.length == 0) { %>
                            <td>Not updated yet</td>
                      <% } else { %>  
                            <td><%= users[i].local.role %></td>
                      <% } %>            

                       <% if(typeof users[i].local.city == 'undefined' || users[i].local.city == "") { %>
                            <td>Not Set</td>
                      <% } else { %>  
                        <td><%= users[i].local.city %></td>
                      <% } %> 
                      <td>
                       <a href="/profile?fbId=<%=users[i].facebook.id%>" type= "button" id ="viewProfile" align="center" class="btn btn-primary">View Me</a>
                      </td>
                    
                    </tr>
                  <%}%>     
                <%}%>  
          
          
          
      </tbody>
     </table>
    