
<!doctype html>
<html>
<head lang="en">
</head>
<body>
                        <form class="form-signin"  method="post">
                            
                  
                                <div style="margin-top:3px; "><font style="margin-top:3px; line-height:4;">Reset password</font></div>
                                <div ><p><font style="font-size:20px;"> Create new password </font></p></div>
                     <% if (message.length > 0) { %>
        <div class="alert alert-danger" style="font-size:20px;"><%= message %></div>
    <% } %>
<% if (message.length == 0) { %>
        <div class="alert alert-danger" style="font-size:20px;"><br></div>
    <% } %>

    

    <!-- show any messages that come back with authentication -->
   <div class="col-md-8 with-hover-text">
    <!-- LOGIN FORM -->
       
      
        
        <div style="font-size:23px;">
          <input class="form-control emailTxt centerAlign" id="password" name="password" placeholder="new password" type="password" value=""  required>
      </div>    
          <div style="font-size:23px;">
          <input class="form-control emailTxt centerAlign" id="cpassword" name="confirm" placeholder="confirm password" type="password" value=""  required>
      </div>  
<div>
      <div style="font-size:23px;">
         <button  type="submit" class="btn  btn-lg EmailBtn centerAlign" id="login" >
         Submit

         </a>
      </div>
   </div>
   
        
    </form>



    <p style="font-size:14px; margin-left:55%;">Go to <a href="/">home</a></p>
</div>   
                    
</div>
 
</html>