
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/dropdowns-enhancement.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/dropdowns-enhancement.js"></script>
        <script src="js/jquery.searcher.min.js"></script>

        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
        <link href="css/style.css" rel="stylesheet">       
        <link href="css/tab.css" rel="stylesheet">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/searcher_style.css">

  </head>
  
<body>

 <% if(typeof user != 'undefined' && user!=null) { %>
 <div id = "headerloggedin"> </div>
 <% } else { %>
 <div id = "headerloggedout">
  <%}%> 

<div class = "main-container">
    <!--<div class="col-md-12" style = "text-align: center;">
    <h3 class = "thtrexplore">
      EXPLORE. CONNECT. CONTRIBUTE.
     </h3>
  </div>-->
  <div class="col-md-12" style = "text-align: center;" id = "searchartists">
    <h3>
      ARTISTS AROUND YOU
    </h3>
    

    </br></br></br>
    <label style="font-size:20px">Search for: <input id="cardsearchinput" type="text" style="font-size:15px"/></label>
    <div class="btn-group" style="text-align:right;">
       <a class="btn btn-success " href="/contactArtists" role="button">Contact artists</a>
    </div>
    </br>
    </br>
    <text id="No_result_found" style="float:center;text-align:center;font-size:20px;display:none;">No results found</text>
    <div id="carddata">
      <% users.forEach(function(user){ %>
         <div class="card" style="width:390px;">
            <div class="container">
                <div class="col-sm-1" style="float:left;text-align:left;padding:5px;">
                  <img alt="User Pic" src=<%= user.local.picture %> class="img-circle" style="max-height:150px;">
                </div>
                </br></br></br>
                <div class="col-sm-10" style="float:right;text-align:left;font-size:20px"><%= user.facebook.name %></div>
              </br>
                <% if(typeof user.local.city == 'undefined' || user.local.city == "") { %>
                  <div class="col-sm-10" style="float:right;text-align:left">Not Set</div>
                <% } else { %>
                  <div class="col-sm-10" style="float:right;text-align:left"><%= user.local.city %></div>
                <% } %>
                </br></br></br>
                <% if(typeof user.local.role == 'undefined' || user.local.role.length == 0) { %>
                  <div class="col-sm-10" style="float:right;text-align:left">Not updated yet</div>
                <% } else { %>
                  <div class="col-sm-10" style="float:right;text-align:left"><%= user.local.role %></div>
                <% } %>
            </div>
          </div>              
      <% }); %>
    </div>
  </div>
</div>
  

         

    <!-- footer starts-->
   <div id = "footer"></div>
   <!-- footer ends-->

    <script type="text/javascript">
     $("#footer").load("footer.ejs"); 
    $("#headerloggedin").load("/header");
    $("#headerloggedout").load("headerloggedout.ejs");

    $("#carddata").searcher({
        itemSelector: ".card",
        textSelector: "div",
        inputSelector: "#cardsearchinput",
        highlight: "<span class='highlight'>$1</span>",
        toggle: function(item, containsText) {
          console.log("containsText: "+containsText);
          if (containsText){
            /*$('#No_result_found').hide();*/
            $(item).fadeIn();
          } else{
            $(item).fadeOut();
            /*$('#No_result_found').show();*/
          }
        }
      });
    </script>
  </body>
</html>
