<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<title>MotleyMeow.com - About Us</title>
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.css" />
	
		<!--=== Main Stylesheets ===-->
	<link rel="stylesheet" href="FirstPage/css/style.css" />
	<link rel="stylesheet" href="FirstPage/css/responsive.css" />

	
	
	<!--=== Internet explorer fix ===-->
	<!-- [if lt IE 9]>
		<script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif] -->
	
	
</head>
<body style="background-color: #7E7A7A;">

	
		<div id="section-home" class="home-section-wrap center">
			<img src ="./images/underConstruction.jpg" >
		</div>
	
	

</body>
</html>