# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
bootstrap/p2demo.html
server_buzzingartist/views/index.ejs
bootstrap/images/fb_old (2).png
bootstrap/home - Copy.html
bootstrap/css/formoid-solid-purple.css
bootstrap/profileEdit - Copy.html
bootstrap/testss.html
Enhancements_bugs/inputs.txt
Requirements/marketresearch.txt
Requirements/Salimsir.txt
Requirements/Vijay.txt
server_buzzingartist/views/index.ejs
server_buzzingartist/views/index.ejs
Requirements/marketresearch.txt
server_buzzingartist/views/index.ejs
Requirements/marketresearch.txt
Requirements/homepage.ep
Requirements/blocksit-js.zip
Requirements/homepage.ep
*.ep
*.ep
*.ep
Requirements/marketresearch.txt
Requirements/~$quirements_v1.0.docx
Requirements/homepage.ep
Requirements/marketresearch.txt
Requirements/homepage.ep
Requirements/homepage.ep
server_buzzingartist/views/css/bjqs.css
server_buzzingartist/views/css/bootstrap-reset_new.css
server_buzzingartist/views/css/bootstrap.min_new.css
server_buzzingartist/views/css/font-awesome_new.css
server_buzzingartist/views/css/jquery-ui-1.10.1.custom.min_new.css
server_buzzingartist/views/css/slidebars_new.css
server_buzzingartist/views/css/style-responsive_new.css
server_buzzingartist/views/css/style_new.css
server_buzzingartist/views/jquery-ui-1.10.1.custom.min.js
server_buzzingartist/views/js/bjqs.min.js
server_buzzingartist/views/js/blocksit.js
server_buzzingartist/views/js/blocksit.min.js
server_buzzingartist/views/js/jquery-ui-1.10.1.custom.min.js
server_buzzingartist/views/js/common-scripts.js
server_buzzingartist/views/js/jquery.customSelect.min.js
server_buzzingartist/views/js/jquery.dcjqaccordion.2.7.js
server_buzzingartist/views/js/jquery.nicescroll.js
server_buzzingartist/views/js/jquery.secret-source.min.js
server_buzzingartist/views/js/query.scrollTo.min.js
server_buzzingartist/views/js/respond.min.js
server_buzzingartist/views/js/slidebars.min.js
test_examples/fuelux.zip
test_examples/fuelux/fuelux/css/fuelux.css
test_examples/fuelux/fuelux/css/fuelux.css.map
test_examples/fuelux/fuelux/css/fuelux.min.css
test_examples/fuelux/fuelux/fonts/fuelux.eot
test_examples/fuelux/fuelux/fonts/fuelux.svg
test_examples/fuelux/fuelux/fonts/fuelux.ttf
test_examples/fuelux/fuelux/fonts/fuelux.woff
test_examples/fuelux/fuelux/js/fuelux.js
test_examples/fuelux/fuelux/js/fuelux.min.js
test_examples/gazONojfL3.zip
test_examples/gazONojfL3/css/bootstrap.min.css
test_examples/gazONojfL3/css/styles.css
test_examples/gazONojfL3/index.html
test_examples/gazONojfL3/js/bootstrap.min.js
test_examples/gazONojfL3/js/scripts.js
server_buzzingartist/app-copy-Animesh-21st
server_buzzingartist/views/js/utils.js
server_buzzingartist/oauth.js
server_buzzingartist/views/index_old.ejs
server_buzzingartist/db.js
server_buzzingartist/app.out
server_buzzingartist/uploads/*.*
server_buzzingartist/views/uploads/*.*
server_buzzingartist/views/images/COMM_CONTRACT_20150305_71410034.PDF.zip
server_buzzingartist/views/searchArtists.ejs
server_buzzingartist/views/testModals.html
server_buzzingartist/views/index_html.html
server_buzzingartist/views/uploads/26f21c780462ec169235e273d98334ed.png
server_buzzingartist/views/uploads/98c94cadbabaa9bea93b8ecf8128ece4.png
server_buzzingartist/views/uploads/9ba3862721b0df51bc2f61466308c84d.png
server_buzzingartist/views/uploads/a04476de46d9bf32996dacc7c825c00e.png
server_buzzingartist/routes/home_landing.js.rej
server_buzzingartist/views/images/FIrst-Page_old1.jpg
server_buzzingartist/views/images/bg_landing_old1.jpg
server_buzzingartist/views/images/profile_bkg (2).jpg
server_buzzingartist/views/images/profile_bkg_old.jpg
server_buzzingartist/views/images/profile_bkg_old11.jpg
server_buzzingartist/views/portfolio/10153582015262080/pictures/2b23629ec5d89eb3247593eb5c646382.jpg
server_buzzingartist/views/portfolio/10153582015262080/pictures/6ab3359acef320884bf3fe1bf04f07b3.jpg
server_buzzingartist/views/portfolio/10153582015262080/pictures/76925a3595400e7b0603fff9482a0cdc.jpg
server_buzzingartist/views/portfolio/10153582015262080/pictures/9d29f5ffddc7a90bac7481523632ad6b.jpg
server_buzzingartist/views/portfolio/10153582015262080/pictures/9df0df4f74f8b178e2a7a5038dc5bfa6.jpg
server_buzzingartist/views/portfolio/10153582015262080/pictures/ad234bf2d22b3617130ae8908fb78c63.jpg
server_buzzingartist/views/portfolio/10153582015262080/pictures/beca34154d77a36456b2e32c22f37c89.JPG
server_buzzingartist/views/portfolio/10153582015262080/pictures/c96efde26c3b598a117d1c6ec88a6e06.jpg
server_buzzingartist/views/portfolio/10153582015262080/pictures/dbf1fcb0f27467c5ff606751afa8a7c2.JPG
server_buzzingartist/views/portfolio/10153582015262080/resume/0ad0a94327674a216023a2b287a6cf93.docx
server_buzzingartist/views/portfolio/10153582015262080/resume/adbf80b2651a3b03d8f90ca8f54ff984.docx
