# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
bootstrap/p2demo.html
server_buzzingartist/views/index.ejs
bootstrap/images/fb_old (2).png
bootstrap/home - Copy.html
bootstrap/css/formoid-solid-purple.css
bootstrap/profileEdit - Copy.html
bootstrap/testss.html
Enhancements_bugs/inputs.txt
Requirements/marketresearch.txt
Requirements/Salimsir.txt
Requirements/Vijay.txt
server_buzzingartist/views/index.ejs
server_buzzingartist/views/index.ejs
Requirements/marketresearch.txt
server_buzzingartist/views/index.ejs
Requirements/marketresearch.txt
Requirements/homepage.ep
Requirements/blocksit-js.zip
Requirements/homepage.ep
*.ep
*.ep
*.ep
Requirements/marketresearch.txt
Requirements/~$quirements_v1.0.docx
Requirements/homepage.ep
Requirements/marketresearch.txt
Requirements/homepage.ep
Requirements/homepage.ep
server_buzzingartist/views/css/bjqs.css
server_buzzingartist/views/css/bootstrap-reset_new.css
server_buzzingartist/views/css/bootstrap.min_new.css
server_buzzingartist/views/css/font-awesome_new.css
server_buzzingartist/views/css/jquery-ui-1.10.1.custom.min_new.css
server_buzzingartist/views/css/slidebars_new.css
server_buzzingartist/views/css/style-responsive_new.css
server_buzzingartist/views/css/style_new.css
server_buzzingartist/views/jquery-ui-1.10.1.custom.min.js
server_buzzingartist/views/js/bjqs.min.js
server_buzzingartist/views/js/blocksit.js
server_buzzingartist/views/js/blocksit.min.js
server_buzzingartist/views/js/jquery-ui-1.10.1.custom.min.js
server_buzzingartist/views/js/common-scripts.js
server_buzzingartist/views/js/jquery.customSelect.min.js
server_buzzingartist/views/js/jquery.dcjqaccordion.2.7.js
server_buzzingartist/views/js/jquery.nicescroll.js
server_buzzingartist/views/js/jquery.secret-source.min.js
server_buzzingartist/views/js/query.scrollTo.min.js
server_buzzingartist/views/js/respond.min.js
server_buzzingartist/views/js/slidebars.min.js
test_examples/fuelux.zip
test_examples/fuelux/fuelux/css/fuelux.css
test_examples/fuelux/fuelux/css/fuelux.css.map
test_examples/fuelux/fuelux/css/fuelux.min.css
test_examples/fuelux/fuelux/fonts/fuelux.eot
test_examples/fuelux/fuelux/fonts/fuelux.svg
test_examples/fuelux/fuelux/fonts/fuelux.ttf
test_examples/fuelux/fuelux/fonts/fuelux.woff
test_examples/fuelux/fuelux/js/fuelux.js
test_examples/fuelux/fuelux/js/fuelux.min.js
test_examples/gazONojfL3.zip
test_examples/gazONojfL3/css/bootstrap.min.css
test_examples/gazONojfL3/css/styles.css
test_examples/gazONojfL3/index.html
test_examples/gazONojfL3/js/bootstrap.min.js
test_examples/gazONojfL3/js/scripts.js
server_buzzingartist/app-copy-Animesh-21st
server_buzzingartist/views/js/utils.js
server_buzzingartist/oauth.js
server_buzzingartist/views/index_old.ejs
