.no-margin
{
 margin:0px;
}
.no-padding
{
 padding:0px;
}
.site-footer
{

	position:relative;
	
	
	clear:both;
	
	bottom:0;
	width:100%;
	border-top:1px #e1e3e3 solid;
	z-index:100;
	background-color: #222;

	color: #fff;
	#padding-top: 10px;
	#padding-bottom: 5px;

}
.bottom-footer
{
	
	margin-top: 10px;
	padding-top:0px;
	color: #b2b2b2;
}
.footer-nav
{
	text-align: center;
	list-style: none
}
.footer-nav li
{
	display: inline;
	padding: 0px 5px;

}
.footer-nav li:not(:first-child):before
{
	
	padding: 0px 20px;
}
.footer-nav a
{
	color: #b2b2b2
}
.footer-nav a:hover
{
  color: #fff;
  text-decoration: none;

}

.cp-copyright{
	text-align:center;
	border-top:1px #f1f2f2 dotted;
	clear:both;
}

div.srchBox {
	display:block;
	position:relative;
	padding:28px;
	width: 100%;
	border-radius:2px;
	vertical-align: middle;
	text-align: center;
	clear:both;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF7CB228', endColorstr='#FF50B3E2');
	background-image:-webkit-linear-gradient(200deg, rgba(124,178,40,0.9) 0%,rgba(80,179,226,0.9) 100%);
	background-image:-moz-linear-gradient(200deg, rgba(124,178,40,0.9) 0%,rgba(80,179,226,0.9) 100%);
	background-image:linear-gradient(200deg, rgba(124,178,40,0.9) 0%,rgba(80,179,226,0.9) 100%);
	box-shadow:rgba(0,0,0,0.15) 1px 1px 5px
}

.main-container{
	position:relative;
  width: 100%;
  min-height: 100%;

}
.thtrexplore {
    letter-spacing: 4px;
    word-spacing: -1px;
    font-weight: 700;
    margin-bottom: 17px;
    border-bottom: 1px solid #EEE;
}


#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
	background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}

.loginlink {
    margin-bottom: 17px;

    border-radius: 1px solid #EEE;
    vertical-align: right;
	text-align: center;
	
}

.form-signin {
  max-width: 400px;  
  margin: 0 auto;
  display:block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
    box-shadow: 0 0 3px 3px #888;
  border-radius:2px;
}
.main{
    padding: 38px;
}
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}
.heading-desc{
    font-size:20px;
    font-weight:bold;
    padding:38px 38px 0px 38px;
 
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 5px;
 
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.login-footer{
    background:#f0f0f0;
    margin: 0 auto;
    border-top: 1px solid #dadada;
    padding:20px;
}
.login-footer .left-section a{
    font-weight:bold;
    color:#8a8a8a;
    line-height:19px;
}
.mg-btm{
    margin-bottom:20px;
}

.imagecarousel img {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 200px;
  max-height: 200px;
}
.table th {
   text-align: center;   
}

.carousel-control {
  padding-top:10%;
  width:5%;
}


.imagedisplay {
  position: relative;
  top: 0;
  left: 0;
  min-width: 95%;
  min-height: 200px;
  max-height: 300px;
}

#myModal {
top:5%;
right:50%;
outline: none;
}

@media (max-width: 767px) {
  .with-hover-text{
    margin-bottom: 2em;
    margin-top: 1em;
  }
}

.with-hover-text span {
  display: none;
}


i {
    font-size: 15px;
    color: #151414;
  }

ifooter {
    font-size: 15px;
    color: #6474CB;
  }

iheader {
    font-size: 20px;
    color: #6474CB;
  }

html, body {
   margin:0;
   padding:0;
   height:100%;
  background-color: rgba(252, 252, 252, 0.28)
}

imageUpdateField {
  display: none;
}

.artistsCheck {
  width:1170px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;

}

.artistsCheck .authmessage {
    background: none repeat scroll 0% 0% #F6F6F6;
    border: 1px solid #EEE;
    padding: 40px;
    margin-top: 30px;
    min-height: 280px;
    font-style: normal;
    font-family: sans-serif;
    font-size: 20px;
}    


#slide-3 {
  background-color: #000;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  text-align: left;
  width: 90%;
}
  
  #slide-3 .col-12 {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: auto;
  }

  #slide-3 a,
  #slide-3 img {
    display: inline-block;
    height: 100%;
    margin: 0 auto;
    width: 100%;
  }
  
  
@media (max-width: 200px) {
  #slide-3 {
    text-align: center;
    width: 100%;
  }
  
  #slide-3 .row {

    left: 0 !important;
    margin: 0;
    width: 100% !important;
    overflow: hidden;

  }
  
  #slide-3 .col-12 {
    display: inline-block;
    height: auto;
    width: 50%
  }

  #slide-3 a,
  #slide-3 img {
    display: inline-block;
    height: auto;   
    width: auto;
    -webkit-transform: translate3d(0,0,0);
    oveflow-x:scroll;
  }
}

#arrows {
  height: 80px;
  position: absolute;
  width: 80px;
  z-index: 1000;
  right:20px;
  bottom:95px;
}

#arrows div {
  background-image: url('../images/website-arrows.png');
  cursor: pointer;
  height: 30px;
  position: absolute;
  width: 30px;
}

#arrows div.disabled {
  cursor: default;
}

#arrow-up {
  background-position: 30px 0;
  left: 25px;
  top: 0;
}

#arrow-up.disabled {
  background-position: 0 0;
}

#arrow-down {
  background-position: 30px -30px;
  left: 25px;
  bottom: 0;
}

#arrow-down.disabled {
  background-position: 0 -30px;
}

#arrow-left {
  background-position: 30px -60px;
  left: 0;
  top: 25px;
}

#arrow-left.disabled {
  background-position: 0 -60px;
}

#arrow-right {
  background-position: 30px -90px;
  right: 0;
  top: 25px;
}

#arrow-right.disabled {
  background-position: 0 -90px;
}


.control-group.warning .control-label,.control-group.warning .help-block,.control-group.warning .help-inline{color:#c09853;}
.control-group.warning .checkbox,.control-group.warning .radio,.control-group.warning input,.control-group.warning select,.control-group.warning textarea{color:#c09853;}
.control-group.warning input,.control-group.warning select,.control-group.warning textarea{border-color:#c09853;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}.control-group.warning input:focus,.control-group.warning select:focus,.control-group.warning textarea:focus{border-color:#a47e3c;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #dbc59e;-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #dbc59e;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #dbc59e;}
.control-group.warning .input-prepend .add-on,.control-group.warning .input-append .add-on{color:#c09853;background-color:#fcf8e3;border-color:#c09853;}
.control-group.error .control-label,.control-group.error .help-block,.control-group.error .help-inline{color:#b94a48;}
.control-group.error .checkbox,.control-group.error .radio,.control-group.error input,.control-group.error select,.control-group.error textarea{color:#b94a48;}
.control-group.error input,.control-group.error select,.control-group.error textarea{border-color:#b94a48;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}.control-group.error input:focus,.control-group.error select:focus,.control-group.error textarea:focus{border-color:#953b39;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #d59392;-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #d59392;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #d59392;}
.control-group.error .input-prepend .add-on,.control-group.error .input-append .add-on{color:#b94a48;background-color:#f2dede;border-color:#b94a48;}
.control-group.success .control-label,.control-group.success .help-block,.control-group.success .help-inline{color:#468847;}
.control-group.success .checkbox,.control-group.success .radio,.control-group.success input,.control-group.success select,.control-group.success textarea{color:#468847;}
.control-group.success input,.control-group.success select,.control-group.success textarea{border-color:#468847;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}.control-group.success input:focus,.control-group.success select:focus,.control-group.success textarea:focus{border-color:#356635;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #7aba7b;-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #7aba7b;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #7aba7b;}
.control-group.success .input-prepend .add-on,.control-group.success .input-append .add-on{color:#468847;background-color:#dff0d8;border-color:#468847;}
.control-group.info .control-label,.control-group.info .help-block,.control-group.info .help-inline{color:#3a87ad;}
.control-group.info .checkbox,.control-group.info .radio,.control-group.info input,.control-group.info select,.control-group.info textarea{color:#3a87ad;}
.control-group.info input,.control-group.info select,.control-group.info textarea{border-color:#3a87ad;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}.control-group.info input:focus,.control-group.info select:focus,.control-group.info textarea:focus{border-color:#2d6987;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #7ab5d3;-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #7ab5d3;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #7ab5d3;}
.control-group.info .input-prepend .add-on,.control-group.info .input-append .add-on{color:#3a87ad;background-color:#d9edf7;border-color:#3a87ad;}


.form-group.error .control-label,.form-group.error .help-block,.form-group.error .help-inline{color:#b94a48;}
.form-group.error .checkbox,.form-group.error .radio,.form-group.error input,.form-group.error select,.form-group.error textarea{color:#b94a48;}
.form-group.error input,.form-group.error select,.form-group.error textarea{border-color:#b94a48;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}.form-group.error input:focus,.form-group.error select:focus,.form-group.error textarea:focus{border-color:#953b39;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #d59392;-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #d59392;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #d59392;}
.form-group.error .input-prepend .add-on,.form-group.error .input-append .add-on{color:#b94a48;background-color:#f2dede;border-color:#b94a48;}
table{
    border-collapse:collapse;
    table-layout: fixed;
    width: 100%;

}    

th, td {
    overflow-x:auto;
    word-wrap:break-word;
    width: 100px;
}

body.modal-open .supreme-container{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.blur {
    opacity:0.5;
}

/* Column widths are based on these cells */
.fbprofilecol {
  width: 10%;
}
.contribcol {
  width: 40%;
}
.citycol {
  width: 20%;
}
.namecol {
  width: 30%;
}

.titlecol {
  width: 30%;
}

#doorbell-button {
  display:none;
}

@media (min-width: 992px) {
  .Landingrow {
    background-image: url(../images/landingPage_2.gif);
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: 100% 100%;
    width: 100%;
    min-height: 100% !important;
    height: 500px;
  }
  .homepageicon {
    font-size:60px;
    z-index:1000;
  }

.divrowleft {
    padding-top:25px;
    padding-right:100px;
    height:100px;
    vertical-align:middle;
    text-align:right;
  }

.divrowright {
    padding-top:25px;
    padding-left:100px;
    height:100px;
    vertical-align:middle;
    text-align:left;
  }

  .labelrow {
    font-size:25px;
    color:rgba(249, 243, 243, 0.95);
  }
}  

@media (max-width: 991px) and (min-width: 600px) {
  .Landingrow {
    background-image: url(../images/landingPage_2.gif);
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: 100% 100%;
    width: 100%;
    min-height: 100% !important;
    height: 500px;
  }
  .homepageicon {
    font-size:60px;
    z-index:1000;
  }

.divrowleft {
    padding-top:25px;
    padding-right:50px;
    height:100px;
    vertical-align:middle;
    text-align:right;
  }

.divrowright {
    padding-top:25px;
    padding-left:50px;
    height:100px;
    vertical-align:middle;
    text-align:left;
  }
  .labelrow {
    font-size:15px;
    color:rgba(249, 243, 243, 0.95);
  }
}


@media (max-width: 599px) and (min-width: 0px) {
  .Landingrow {
    background-image: url(../images/landingPage_2.gif);
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: 100% 100%;
    width: 100%;
    min-height: 100% !important;
    height: 500px;
  }
  .homepageicon {
    font-size:40px;
    z-index:1000;
  }

.divrowleft {
    padding-top:25px;
    padding-right:30px;
    height:100px;
    vertical-align:middle;
    text-align:right;
  }

.divrowright {
    padding-top:25px;
    padding-left:30px;
    height:100px;
    vertical-align:middle;
    text-align:left;
  }
  .labelrow {
    font-size:10px;
    color:rgba(249, 243, 243, 0.95);
  }
}

.bar {
    height: 18px;
    background: green;
}
/*@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}*/
.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.thumbnail img {
  display: block;
  min-width: 200px;
  min-height: 180px;
  max-width: 300px;
  max-height: 240px;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

select {
    height: 200px !important;
}

.progress {
      position: relative;
      overflow: visible;
}

.btn-respect {
  color: #fff;
  background-color: #1A1818;
  border-color: #1F1F1F;
}

.btn-respect.focus, .btn-respect:focus, .btn-respect:hover {
  color: #FCFAFA;
  text-decoration: none;
  background-color: #060241;
}